@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800&family=Poppins:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --primary-color: #ff276f;
  --primary-text: #f7f7f7;
  --secondary-color: #676080;
  --bg-dark: #15121f;
  --bg-light: #231f33;
  --opacity-dark: rgba(0, 0, 0, 0.6);
  --opacity-light: rgba(0, 0, 0, 0.3);
  --hover-color: rgb(188, 188, 188);
  --box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);

  --general-padding: 35px;
  --general-smaller-padding: 20px;
  --general-mini-padding: 10px;

  --general-smaller-margin: 20px;

  --main-width-mobile: 90%;
  --main-width-desktop: 70%;

  --button-border-color: #a3a3a35a;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-text);
  font-family: "Montserrat", "Poppins", "Helvetica Neue";
  font-size: 1.25rem;
  line-height: 1.6;
  overflow-x: hidden !important;
  position: relative;
  height: 100vh;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-text);
  &:hover {
    color: var(--hover-color);
  }
  &.active {
    text-decoration: underline;
  }
}

ul li {
  list-style: none;
}

button {
  border: none;
  border-radius: 13px;
  padding: var(--general-mini-padding) var(--general-smaller-margin);
}

.movieBtn {
  background-color: transparent;
  border: 1px solid var(--button-border-color);
}

.placeholder {
  background-image: url("./assets/placeholder.jpg");
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

/* NOT FOUND PAGE */
.notFoundContainer {
  background-image: url("./assets/placeholder.jpg") !important;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: var(--general-padding);
  font-size: 2.3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 50px #656565;

  &::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: var(--opacity-light);
    position: absolute;
  }
  p {
    font-weight: 900;
    z-index: 1;
  }
  h1 {
    font-size: 1.3rem;
    text-transform: initial;
    text-align: center;
    font-weight: 500;
    z-index: 1;
  }

  button {
    margin: 20px 0;
    z-index: 1;
  }

  @media (min-width: 570px) {
    h1 {
      font-size: 2rem;
    }
  }
}
