@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800&family=Poppins:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --primary-color: #ff276f;
  --primary-text: #f7f7f7;
  --secondary-color: #676080;
  --bg-dark: #15121f;
  --bg-light: #231f33;
  --opacity-dark: rgba(0, 0, 0, 0.8);
  --opacity-light: rgba(0, 0, 0, 0.6);
  --hover-color: rgb(255, 199, 220);
  --box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);

  --general-padding: 35px;
  --general-smaller-padding: 20px;
  --general-mini-padding: 5px;

  --main-width-mobile: 90%;
  --main-width-desktop: 70%;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-text);
  font-family: "Montserrat", "Poppins", "Helvetica Neue";
  font-size: 1.25rem;
  line-height: 1.6;
  overflow-x: hidden !important;
  position: relative;
  height: 100vh;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--primary-text);
  &:hover {
    color: var(--secondary-color);
  }
  &.active {
    text-decoration: underline;
  }
}

ul li {
  list-style: none;
}
