/* colors */
$primary-color: #ff276f;
$primary-text: #f7f7f7;
$secondary-color: #676080;
$bg-dark: #15121f;
$bg-light: #231f33;
$opacity: rgba(0, 0, 0, 0.8);
$hover-color: rgb(255, 199, 220);
$box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);

$general-padding: 35px;
$general-smaller-padding: 20px;
$general-mini-padding: 5px;

$main-width-mobile: 90%;
$main-width-desktop: 70%;
